.features {
  grid-column: center-start / center-end;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start;
  height: 100%;

  margin: 15rem 0rem;

  
  @include respond(tab-port) {
    margin: 0rem;
    padding: 8rem 0;
  }
}

.feature {
  &__box {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-column-gap: 2rem;
  }

  &__icon {
    fill: $primary;
    width: 4.5rem;
    height: 4.5rem;
    transform: translateY(-1rem);
  }
  &__text {
    font-size: 1.7rem;
    grid-column: 2 / 3;
  }
}
