%heading {
  font-family: $font-display;
  font-weight: 400;
}

.heading {
  &-1 {
    @extend %heading;
  }
  &-2 {
    @extend %heading;
    font-size: 4rem;
    font-style: italic;
    line-height: 1;
  }
  &-3 {
    @extend %heading;
    font-size: 1.6rem;
    text-transform: uppercase;
  }
  &-4 {
    @extend %heading;
    font-size: 1.9rem;
  }

  &--light {
    color: $light-gray-1;
  }
  &--dark {
    color: $dark-gray-1;
  }
  &--primary {
    color: $primary;
  }
}

.btn {
  background-color: $primary;
  color: $white;
  border: none;
  border-radius: 0.5rem;
  font-family: $font-display;
  font-size: 1.5rem;
  line-height: 1;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: $primary-dark;
  }
}

.mb-s {
  margin-bottom: 2rem !important;
}
.mb-m {
  margin-bottom: 3rem !important;
}
.mb-b {
  margin-bottom: 4rem !important;
}
.mb-h {
  margin-bottom: 8rem !important;
}
